body{
    background-color: wheat;
    text-align: center;
    text-decoration: georgia;
}
h1{
    text-decoration: underline wavy ;
}
p{
    background-color: #A52A2A;
    text-align: start;
    line-height: 20px;
}
h3{
    columns: black;
}
h4{
    text-transform: none;
}
.upvote{
    background-color: red;

}
.lund{
    background-color: yellow;
}