*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#041f33;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}

ul{
    display:flex;
    list-style:none;
    gap:35px;
}

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:80vh;
}

.left{
    position:relative;
}

.circle{
    width:350px;
    height:350px;
    background:#00bfff;
    border-radius:50%;
    filter:blur(30px);
    position:absolute;
    z-index:-1;
}

.left img{
    width:350px;
    border-radius:20px;
}

.right{
    max-width:500px;
}

.right h1{
    font-size:60px;
    margin:10px 0;
}

.right h2{
    color:#00bfff;
    margin-bottom:20px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#00bfff;
    color:white;
    cursor:pointer;
}

.outline{
    background:transparent;
    border:2px solid #00bfff;
    margin-left:10px;
}

.cv-btn{
    background:#ff2d75;
}