h1{
    background-color: yellow;
    color: black;
}
*{
    text-align: center;
}

h1,h3,h5{
    color: pink;
}
.btn{
    padding: 20px;
    color: green;
    background-color: black;
    transition: hover;
    
}

